<header class="topbar">
      <div class="topbar-left">
        <a href="index.html">
          <img src="/images/logo-abaco.png" alt="Logo Ábaco" class="logo-navbar">
        </a>
        <nav>
          <a href="#"> <i class="bi bi-list"></i>Lista de Equipamentos</a>
          <a href="#"> <i class="bi bi-people-fill"></i>Usuários</a>
          <a href="#"> <i class="bi bi-exclamation-triangle-fill"></i>Lista de Manutenção</a>
          <a href="#"> <i class="bi bi-hammer"></i>Registro de Manutenção</a>
          <a class="active" href="#"> <i class="bi bi-pencil-square"></i>Cadastro de Equipamentos</a>
        </nav>
      </div>
      <div class="user" id="user-btn"><i class="bi bi-person-circle"></i>Matheus</div>
</header>