<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head') %>
<body>
  <div class="content">

    <%- include('./partials/header') %>

    <div class="container">
      <main>
        <h1>Cadastro de Equipamentos</h1>
        <form class="form">
          <div class="form-row">
            <div>
              <label>Equipamento</label>
              <select><option>Selecione</option></select>
            </div>
            <div>
              <label>Modelo</label>
              <input type="text">
            </div>
            <div>
              <label>Número de Patrimônio</label>
              <input type="text">
            </div>
            <div>
              <label>Data da Aquisição</label>
              <input type="date">
            </div>
          </div>
          <div class="form-row">
            <div>
              <label>Data da Garantia</label>
              <input type="date">
            </div>
            <div>
              <label>Quantidade</label>
              <input type="number" min="1">
            </div>
            <div>
              <label>Local</label>
              <input type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="full-width">
              <label>Descrição</label>
              <textarea placeholder="Informe a descrição do equipamento."></textarea>
            </div>
          </div>
          <button type="submit">CADASTRAR</button>
        </form>
      </main>
    </div>

    <%- include('./partials/footer') %>
  </div>

  <!-- Side Panel (Desconectar) -->
  <div class="side-panel" id="side-panel">
    <div class="side-panel-content">
      <h2>Usuário: Matheus</h2>
      <form action="/" method="get">
        <button id="disconnect-btn" type="submit" ><i class="bi bi-person-circle"></i> Desconectar <i class="bi bi-box-arrow-in-right"></i> </button>
      </form>
    </div>
  </div>

  <script src="/scripts/side_panel.js"></script>
</body>
</html>
